# This unit file is retrieved from traefik github repository
# @see https://raw.githubusercontent.com/containous/traefik/master/contrib/systemd/traefik.service
[Unit]
Description=Traefik

[Service]
Type=notify
# command argument flags changed in v1 -> v2
# eg, --configFile -> --configfile
ExecStart={{ traefik_bin_path }} --configfile={{ traefik_config_file }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
